.form { 
  width: 80%;

  .grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: [col] 50% [col] 50%;
    grid-template-rows: [row] 20% [row] 30% [row] 40%;
    grid-row-gap: 10%;
    // grid-column-gap: 5%;
    // gap: 10%;

    .button {
      display: grid;
      justify-content: center;
    }
  }

  .city {
    width: 87%;

    p-dropdown {
      display: grid;
      width: 100%;
      align-items: flex-start;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 20px;
}
.h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;

  .city {
    width: 80%;
  }
}

