h1{
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      margin: 20px;
    }
    .col-2 {
        margin: 20px;
    }
    .col-3 {
        margin: 20px;
    }
    .col-4 {
        margin: 20px;
    }
}

.p1{
    position: fixed;
    bottom: 0px;
    left: 15px;
}

ul {
    display: grid;
    justify-content: center;
}

.list {
    margin-top: 5%;
}

.grid-buttons {
    display: grid;
    position: fixed;
    bottom: 5%;
    grid-template-columns: [col] 50% [col] 50%;
    grid-template-rows: [row] 100%;
    grid-column-gap: 5%;
    justify-content: flex-start;
}

.data {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.grid-home-cards {
    display: grid;
    grid-template-columns: [col] 20% [col] 20% [col] 20%;
    grid-column-gap: 3%;
    justify-content: center;
}

@media (width <= 670px) {
    .grid-buttons {
        display: flex;
        position: fixed;
        bottom: 10%;
        grid-template-columns: [col] 50% [col] 50%;
        grid-template-rows: [row] 100%;
        grid-column-gap: 5%;
        justify-content: center;
    }

    .grid-home-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .name-card {
        padding: 5%;
    }

    .age-card {
        padding: 5%;
    }

    .male-card {
        padding: 5%;
    }
}