<h1>HOME</h1>
<div class="info-container">
<p class="info">Imię: {{ name }}</p>
<p class="info">Nazwisko: {{ surname }}</p>
<p class="info">Data urodzenia: {{ birthdate }}</p>
<p class="info">Miasto: {{ city }}</p>
<p class="info">Stan konta: {{ value }} zł</p>
</div>

<div class="grid-buttons">
  <div class="card flex justify-content-center">
    <p-button class="b1" [loading]="loading" (click)="showDateTime()">Aktualizuj datę</p-button>
  </div>
  <!-- (onClick)="showDateTime() -->
  <div class="date-button">
    <p-button class="b2" (click)="toggleDateVisibility()">
      {{ dateVisible ? 'Ukryj' : 'Pokaż' }} datę
    </p-button>
  </div>
</div>
<div class="p1"><p *ngIf="dateVisible">{{ actualDate }}</p></div>
<h2>Task Timeline</h2>

<div class="timeline flex flex-wrap gap-6">
  <p-timeline [value]="events" class="w-full md:w-20rem" align="alternate">
      <ng-template pTemplate="content" let-event>
          <small class="p-text-secondary">{{ event.date }}</small>
      </ng-template>
      <ng-template pTemplate="content" let-event>
          {{ event.status }}
          <div class="timeline-date">
            {{ event.date }}
          </div>
      </ng-template>
  </p-timeline>
</div>