h1{
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: gray;
    width: 15%;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
}

.task-container{
    height: 300px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    gap: 5px;
    border-color: gray;
    border-radius: 10px;
}

.task-container::-webkit-scrollbar{
   opacity: 0;
}

.task{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-color: gray;
    border-radius: 10px;
}

.check{
    margin-bottom: 20px;
}

.p1{
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 30%;
}

ul {
    display: grid;
    justify-content: center;
}

.date-button {
    margin-left: 20%;
}

.grid-buttons {
    display: grid;
    position: fixed;
    bottom: 7%;
    grid-template-columns: [col] 50% [col] 50%;
}

.timeline {
    padding-top: 2%;
    width: 60%;
    margin-left: 20%;
}

@media (width <= 1450px){
    .grid-buttons {
        display: grid;
        position: fixed;
        bottom: 8%;
        grid-template-columns: [col] 50% [col] 50%;
    }

    .p1{
        position: fixed;
        bottom: 0px;
        left: 5px;
        width: 22%;
    }
}

@media (width <= 1400px) {
    .grid-buttons {
        display: none;
        position: fixed;
        bottom: 10%;
        flex-direction: column;
    }

    .p1 {
        display: none;
    }
}

@media (width <= 670px) {

    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info{
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border-color: gray;
        width: 50%;
    }

    .task{
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-color: gray;
        border-radius: 10px;
        width: 50%;
    }

    .timeline {
        margin-bottom: 30%;
    }
}