<style>  
  main {
    display: flex;
    justify-content: center;
    color: gray;
}

.outlet {
  display: flex;
  justify-content: center;
}
</style>

<main>
  <button routerLink="/"><h1>Siema tworzymy aplikacje </h1></button>
  <button routerLink="/myApp/src/app/guide/guide.component.html"><h1> Guide </h1></button>
  <button routerLink="/myApp/src/app/layout/flexbox/flexbox.component.html"><h1> Flexbox </h1></button>
  <button routerLink="/myApp/src/app/layout/grid/grid.component.html"><h1> Grid </h1></button>
  <button routerLink="layout">layout/flexbox; layout/grid</button>
</main>


<div class="outlet">
  <router-outlet></router-outlet>
</div>