body {
    background-color: rgb(169, 109, 238);
  }
  
  main {
      display: flex;
      justify-content: center;
      color: gray;
  }
  
  .outlet {
    display: flex;
    justify-content: center;
  }