<app-navigation></app-navigation>

<main class="outlet">
  <router-outlet></router-outlet>
</main>

<div class="card flex justify-content-center">
  <div style="height: 29%; margin-bottom: 0; margin-right: 0.8%; position: relative;" class="speeddial-tooltip-demo">
      <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1500ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
      <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up"></p-speedDial>
  </div>
</div>