:host ::ng-deep {
    .speeddial-tooltip-demo {
        .p-speeddial-direction-up {
            &.speeddial-right {
                right: 5px;
                bottom: 5px;
                position: fixed;
            }
        }
    }
}