:host ::ng-deep {
    .speeddial-tooltip-demo {
        .p-speeddial-direction-up {
            &.speeddial-right {
                right: 4px;
                bottom: 4px;
                position: fixed;
            }
        }
    }
}

// p-toast {
//     width: 80px;
// }